@{
    ViewData["Title"] = "Donate";
}

<div class="row justify-content-center">
    <div id="dynamic-cont" class="col-3">
        <h2>Donate</h2>
        <partial name="_ContactFormPartial" />
    </div>
    <div class="col-1">
    </div>
    <div id="dynamic-img" class="col-3">
        <img src="/images/01182401.jpg" class="w-100 shadow-1-strong rounded mb-4 img-responsive"
            alt="Wintry Mountain Landscape" />
    </div>
</div>
<script>
    var width = getWindowW()
    if (width <= 600) {
        const div = document.getElementById('dynamic-img');
        div.classList.remove('col-3');
        div.classList.add('p-5');
        const div2 = document.getElementById('dynamic-cont');
        div2.classList.remove('col-3');
        div2.classList.add('p-5');
    }
</script>