<div class="text-center">
        <h1>
                Links and Resources
        </h1>
        <ul class="list-unstyled">
                <li>
                        <a href="https://theodorlessingedition.de/">Dr. Rainer Marwedel</a>
                </li>
                <li>
                        <a href="https://www.wallstein-verlag.de/autoren/rainer-marwedel.html ">Dr. Rainer Marwedel
                                Publications</a>
                </li>
                <li>
                        <a a href="https://brill.com/display/title/60304"><i>Theodor Lessing's Philosophy of History in
                                        Its
                                        Time</i>,
                                by
                                Herman Simissen</a>
                </li>
                <li>
                        <a href=" https://www.vhs-hannover.de/ueber-uns/150-jahre-theodor-lessing">Theodor und Ada
                                Lessing
                                Volkshochschule</a>
                </li>
                <li>
                        <a
                                href=" https://zukunft-heisst-erinnern.de/orte-der-verfolgung/theodor-lessing/?lang=en University">The
                                Technical University Hannover
                        </a>
                </li>
                <li>
                        <a href="https://stonetowerpress.com/shop-2/authors/peter-c-appelbaum/enemy-in-the-country/"><i>Enemy
                                        in the Country</i> by Peter C.
                                Appelbaum </a>
                </li>
                <li>
                        <a href="https://www.berghahnbooks.com/title/LessingJewish"><i>Jewish Self-Hate</i> (Translated
                                by
                                Peter C.
                                Appelbaum)
                        </a>
                </li>
                <li>
                        <a
                                href=" https://press.princeton.edu/books/hardcover/9780691119229/on-the-origins-of-jewish-self-hatred?srsltid=AfmBOoq1CrDTSRSAyqCTyWaOdTPY1XfUetkS2c_XPjNdB7Z5UfoQvGCh"><i>On
                                        the Origins of Jewish Self-Hatred by Paul Reitter</i></a>
                </li>
                <li>
                        <a
                                href="https://www.mmz-potsdam.de/en/team/visiting-professors-and-associated-members/dr-elke-vera-kotowski">Dr.
                                Elke-Vera Kotowski Publications List:</a>
                </li>
                <li>
                        <a href="https://archives.cjh.org/repositories/5/resources/10098">Theodor Lessing Collection at
                                The
                                Center For
                                Jewish History</a>
                </li>
                <li>
                        <a href="https://www.fembio.org/english/biography.php/woman/biography/ada-lessing/">Ada Lessing
                                Additional Information</a>
                </li>
                <li>
                        <a href="https://www.filmovyprehled.cz/en/film/397006/shots-in-marienbad"><i>Shots in Marienbad
                                </i>(Czech Film: 1973)</a>
                </li>
        </ul>
</div>
