@{
    ViewData["Title"] = "Mythical Afterimages";
}
<div class="text-center">
    <h1>Mythical Afterimages
    </h1>
    <aside>By Herman Simissen</aside>
</div>

<div class="container mt-5">
    <div class="pdf-container">
        <embed src="\files\research-papers\mythical-afterimages-simissen.pdf" width="100%" height="500"></embed>
    </div>
</div>