@{
    ViewData["Title"] = "Privacy Policy";
}
<div id="terms">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <p>
        Welcome to the Theodor Lessing Foundation’s (the “Foundation”, “us”, “we”, “our”) Privacy Policy (the “Policy”).
        In
        this
        Policy, we explain what personal data we collect, how we use and protect your personal data, with whom we may
        share
        it
        and the rights that you may have in connection with it. This Policy is incorporated into our Website Terms &
        Conditions.
        This Policy applies to personal data we collect, including through our website  (the “Website”), our events and
        programs
        registrations, mobile applications, online portals, surveys, job applications, applications, and any other point
        of
        collection (collectively, the “sites”). In addition to applicable laws, additional policies disclosed to you at
        the
        time
        of collection may also apply (e.g., in connection with a specific event or program). By using our sites and/or
        by
        providing personal data to us (by any means, whether directly to us when applying for employment, grants or
        fellowships,
        attending events or programs, on our website, or in any other interaction with the Foundation), you consent to
        our
        use
        of the personal data in accordance with this Policy.
    </p>
    <p>
        By visiting our Website, you are accepting the practices described in our Privacy Policy. If you do not agree to
        the
        terms of this Privacy Policy, please do not use the Website.
    </p>
    <p>
        Please note: We do not sell your personal data, however we may share it under limited circumstances as listed
        under
        the
        Sharing your data paragraph below.
    </p>
    <h3>
        How to contact us
    </h3>
    <p>
        If you have any questions about this Policy, if you have a disability that prevents you from accessing this
        Policy
        electronically in this format and require it to be provided in an alternate format (e.g., audio, large print),
        or if
        you
        have questions about your personal data handled by us, you may contact us by sending an e-mail through our
        <a asp-asp-controller="Email" asp-action="Contact"> Contact</a>
        page
        or writing to:
    </p>
    <p>
        Attn: Privacy Policy – Theodor Lessing Foundation
        PO Box 1274
        Wilson WY 83014
    </p>
    <h3>
        Data we collect
    </h3>
    <p>
        We collect personal data from you when you voluntarily provide it to us, and when you visit our sites, certain
        information is automatically collected from you (subject to applicable consent requirements). We collect
        personal
        data
        that you provide to us in various ways including online, by telephone, and offline, including when you visit our
        events
        in person as a guest of the Foundation. The types of personal data we may collect from you are described below.
    </p>
    <h3>
        Data you provide directly to us
    </h3>
    <p>
        Contacting Us – When you contact us via phone, email or in person, for any reason including when you: submit a
        job
        inquiry; interact with us regarding applications, programs, activities or events; participate in surveys, panels
        or
        research; register for and participate in our programs, activities, initiatives and events; interact with our
        sites;
        or
        in conjunction with any other place where you knowingly volunteer information to us, we may collect the
        following
        types
        of data from you:
    </p>
    <ul>
        <li>
            Name, address, date of birth, email address and telephone number;
        </li>
        <li>
            Organization name, address, email address and telephone number;
        </li>

        <li>
            Survey responses;
        </li>

        <li>
            Demographic information
        </li>
        <li>
            Preferences, information about a disability or requests for accommodations to the extent disclosed to us;
            and
            other
            information or content that you may choose to provide. 
        </li>

        <li>
            Website Visits – When you visit the Website, or sign up for our email newsletter via the Website, we may
            collect
            the
            following types of data from you:
        </li>
        <li>
            Name and email address; and Any other information that you may choose to provide.
        </li>
    </ul>

    <p>
        Employment Applicants – If you apply for a position with the Foundation you may be asked to create an account on
        our
        Workday portal and we may collect the following types of data during the application process:
    </p>
    <ul>
        <li>
            Name, address, email address, and telephone number;
        </li>
        <li>
            Resume, work history, work authorization status, education, skills, professional licenses, permits or
            certifications and
            references;
        </li>
        <li>
            Optional demographic information, such as gender identity, race/ethnicity, sexual orientation, religious
            affiliations;
            and any other information you choose to provide during the application process.
        </li>
    </ul>
    <p>
        If we offer you employment, you may be required to complete a background check and other screenings prior to
        beginning
        work, as permitted or required by applicable law.
    </p>
    <p>
        Grant or Fellowship Applicants – If you apply for a fellowship or grant from the Foundation, or if your employer
        or
        organization includes information about you in a grant application or annual report, we may collect the
        following
        types
        of data during the application process:
    </p>
    <ul>
        <li>
            Name, address, date of birth, email address, telephone number;
        </li>
        <li>
            Citizenship information and visa information;
        </li>
        <li>
            Resume, work history, qualifications, education, skills, professional licenses, permits or certifications
            and
            references;
        </li>
        <li>
            Tax identification/national identification numbers, bank account information for payments;
        </li>
        <li>
            Demographic information, such as gender identity, race/ethnicity, disability, sexual orientation; and any
            other
            information you choose to provide during the application process.
        </li>
    </ul>
    <p>
        Suppliers – If you are a third-party who provides products or services to the Foundation you may be asked to
        create
        an
        account on our Workday supplier portal and we may collect the following types of information from you:
    </p>
    <p>
        For individual suppliers: name, address, email address, telephone number, citizenship information, visa
        information,
        W-9, tax identification numbers, bank account information for payments.
    </p>
    <p>
        For organizations that are suppliers: organization name, address, email address and telephone number, W-9, tax
        identification numbers and bank account information for payments; and other information that you may choose to
        provide. 
    </p>
    <hr>
    <h3>Data automatically collected</h3>

    <p>
        Consistent with most websites, and subject to applicable consent requirements for non-essential cookies, we use
        cookies
        and pixel tags to collect such activity information. Cookies are small text files used to collect information
        and
        allow
        the Website to function, and pixels are transparent images that allow us to understand how users interact with
        our
        Website. 
    </p>
    <p>
        Unless otherwise required by law, necessary cookies will be placed when you visit the sites. At this time, our
        Website
        to does have the ability to permit you to opt-out of targeting, performance, and/or functional cookies when you
        visit
        the site by changing your consent preferences. However, you can instruct your browser to refuse all cookies or
        to
        indicate when a cookie is being sent. If, however, you disable or refuse cookies, please note that some parts of
        the
        sites may become inaccessible or not function properly. Please note that browser-management tools for cookies
        are
        outside of our control and we cannot guarantee their effectiveness. 
    </p>
    <hr>
    <h3>
        Information we receive from third parties
    </h3>
    <p>
        We may receive the following information from third parties:
    </p>
    <ul>
        <li>
            Information about your participation in programs, events, activities or social media (e.g., from event
            organizers
            providing services to us, event organizers unaffiliated with the Foundation who have rented space in our
            Center
            for
            Social Justice, program leaders or participants, including in annual reports, videos and photographs);
        </li>
        <li>
            Information from publicly available sources;
        </li>
        <li>
            Service providers, consultants, or vendors providing services to the Foundation;

        </li>
        <li>
            Work and qualification information and/or contact information submitted by your employer or organization in
            connection
            with a grant or fellowship application or reporting;
        </li>
        <li>
            Contact information submitted by your employer or organization in connection with registering as a
            Foundation
            supplier
            through our supplier portal;
        </li>
        <li>
            Employment verification (from your previous employer if you provide us with contact information on a grant
            or
            fellowship
            application or in connection with applying for a position);
        </li>
        <li>
            Education information (from your previous academic institutions if you provide the names of institutions on
            a
            grant or
            fellowship application or in connection with applying for a position);
        </li>
        <li>
            Education information (from your previous academic institutions if you provide the names of institutions on
            a
            grant or
            fellowship application or in connection with applying for a position);
        </li>
        <li>
            Reference information (from any references you provided on a grant or fellowship application or in
            connection
            with
            applying for a position).
        </li>
    </ul>
    <hr>
    <h3>
        How we use the data we collect
    </h3>
    <p>
        We may use the personal data you provide us:
    </p>
    <ul>
        <li>
            To disburse grant or fellowship funds;
        </li>
        <li>
            To send email newsletters;
        </li>
        <li>
            To process your grant or fellowship applications;
        </li>
        <li>
            To administer or run programs, grants, fellowships or events;
        </li>
        <li>
            To disburse supplier payments;
        </li>
        <li>
            To respond to your inquiries and/or requests;
        </li>
        <li>
            To improve our programs and the efficacy of our grantmaking and operations;
        </li>
        <li>
            To recommend you or your organization for other fellowships, grants, or other opportunities;
        </li>
        <li>
            To solicit grant or fellowship applications;
        </li>
        <li>
            For compliance, fraud monitoring and security;
        </li>
        <li>
            To provide you information relevant to the programs, grants, fellowship or other activities we think might
            interest you
            or your organization;
        </li>
        <li>
            To process your employment application, including assessing your qualifications for a job, conducting
            reference
            checks,
            communicating with you about your application and conducting background checks if we offer you a position,
            as
            permitted
            or required by applicable law;
        </li>
        <li>
            To send you information regarding changes to our terms and policies;
        </li>
        <li>
            For other purposes disclosed at the time of collection or otherwise compatible with our charitable purposes
            and
            applicable law.
        </li>
    </ul>
    <p>
        We may use data that we collect automatically from our sites:
    </p>
    <ul>
        <li>
            To administer, maintain and improve our sites;
        </li>
        <li>
            To understand how you found out about us and what services and products may interest you so we can improve
            our
            products
            and services and deliver to you the type of content, features and promotions that you are most relevant to
            you;
        </li>
        <li>
            To understand the demographics of our site visitors;
        </li>
        <li>
            To perform data traffic, e-commerce and other trend analyses;
        </li>
        <li>
            For fraud monitoring and prevention and other security purposes.
        </li>
        <li>
            We may combine this information with data we receive from publicly available sources.
        </li>
    </ul>
    <p>
        Additionally, we may use your information as we believe to be necessary or allowed: (a) under applicable law;
        (b) to
        comply with legal process and our legal obligations; (c) to respond to requests or requirements from public, law
        and
        government authorities (including national security and law enforcement requirements) and private parties; (d)
        to
        enforce our terms and conditions; (e) to protect our operations; (f) to protect our rights, privacy, safety or
        property,
        and/or that of you or others; (g) to allow us to pursue available remedies or limit the damages that we may
        sustain;
        (h)
        to prevent or stop activity we may consider to be, or to pose a risk of being, illegal, unethical, or legally
        actionable
        activity; and/or (i) other legitimate purposes such as conducting investigations or responding to governmental
        or
        other
        regulatory requests for information or investigations and for dispute management purposes.
    </p>
    <p>
        It is always your choice whether to provide your personal data. However, some personal data must be provided to
        participate in certain programs, activities, or events (such as to sign up for a newsletter, apply for a job, or
        register to participate in one of our events), so the decision not to provide information might limit or
        eliminate
        such
        functions of our sites or your ability to participate in such programs, activities, or events. Please do not
        disclose
        more personal data than is requested.
    </p>
    <p>
        To the extent required by applicable laws, we will seek your separate consent for collecting and processing your
        sensitive personal data. “Sensitive personal data” has different definitions under applicable law, but in
        general
        includes, racial or ethnic origin, political opinions, religious or philosophical beliefs, trade union
        membership,
        genetic data, biometric data for the purpose of uniquely identifying a natural person, data concerning health or
        data
        concerning a natural person’s sex life or sexual orientation, social security number, driver’s license, or other
        government issued identification number, financial account, including credit card information. Please do not
        provide
        the
        Foundation any sensitive personal data unless specifically requested and necessary for your interactions with
        the
        Foundation.
    </p>
    <hr>
    <h3>
        Sharing your data
    </h3>
    <p>
        We do not sell your personal data. However, we may share your personal data in the following circumstances:
    </p>
    <p>
        Within the Foundation: We may share your personal data within the Foundation.
    </p>
    <p>
        Our vendors and service providers: We use a variety of vendors and service providers that help us with our
        financial,
        legal, administrative, operational and logistical activities such as maintaining our sites, email and document
        management, shipping, payment processing, managing our institutional and individual relationships and
        facilitating
        programs or events. We require these companies and individuals to use your information only as necessary to
        provide
        the
        applicable services to us.
    </p>
    <p>
        Organizational and funding partners, grantees, co-sponsors, co-hosts: We may also occasionally share your
        personal
        data
        with our organizational and funding partners, grantees, or co-sponsors or co-hosts of our programs, activities,
        initiatives, and events from time to time. Although our treatment of your personal information is governed by
        this
        Policy, our partners’, grantees’, co-sponsors’, or co-hosts’ treatment of your personal information will be
        governed
        by
        their respective privacy practices.  
    </p>
    <p>
        Legal requirements: We may also disclose your personal data when we reasonably believe it is required by law,
        subpoena
        or other legal process, including to meet national security or law enforcement requirements, as well as to honor
        user
        access rights, as applicable.
    </p>
    <p>
        Protection of rights: We may transfer personal information to protect our rights, privacy, safety or property,
        including
        our employees, contractors and agents, when we are required or permitted to do so by law.
    </p>
    <p>
        At your request: We may transfer information to a third party if you request us to do so.
    </p>
    <p>
        Fraud detection: We may disclose information when we believe in good faith that it is necessary to investigate
        fraud.
    </p>
    <hr>
    <h3>
        Do not track
    </h3>
    <p>
        Some browsers have a “Do Not Track” feature. At this time, the Website does not respond to these Do Not Track
        requests
        or similar signals that users may employ. 
    </p>
    <hr>
    <h3>
        Links to third-party sites
    </h3>
    <p>
        As a convenience to you, the sites may contain links to other websites or link with other platforms. The
        Foundation
        does
        not control these third-party sites and is not responsible for their privacy practices or content. You should
        refer
        to
        the privacy statements of such third-party sites to find out how they collect and use your information.
    </p>
    <hr>
    <h3>
        Social media
    </h3>
    <p>
        We may maintain a social media presence, such as a Facebook page, an Instagram page, and a Twitter (X) feed
        presently or
        at some future date. In such event, you can interact with us through social media, such as by posting content,
        sharing
        material from our sites, and using our social media plug-ins. When you interact with us using social media, we
        may
        receive information such as your user ID, your profile picture, photos you post, and similar information, which
        is
        often
        determined by your privacy settings at social media sites. We may use the information for the same types of
        purposes
        we
        describe throughout this Policy. Your use of social media sites is primarily governed by the site operators’
        privacy
        policies and terms of service, and the information you share with us and with others is largely controlled by
        the
        privacy settings you have established at those sites.
    </p>
    <hr>
    <h3>
        Your choices regarding your personal data
    </h3>
    <p>
        Any request for a copy of or to delete your Personal Information may be made in writing and we will endeavor to
        respond
        within a reasonable period in compliance with applicable data protection legislation. If you wish to review,
        update,
        correct, or remove the information we have for you, please contact us through our Contact page.
    </p>
    <hr>
    <h3>
        Children under 13 and minors under 18
    </h3>
    <p>
        The Foundation does not knowingly collect information from or about children without verifiable parental
        consent. If
        you
        are a parent or guardian and believe your child under 13 may have provided personal information through the
        Website,
        please contact us, and we will take all reasonable measures to delete such information from our databases and to
        not
        use
        such information for any purpose (except where necessary to protect the safety of the child or others as
        required or
        allowed by law). 
    </p>
    <p>
        The Foundation also does not knowingly collect information from or about minors under the age of 18. Minors
        under 18
        years of age may have the personal information that they provide to us through the Website deleted by reaching
        us
        through our Contact page requesting deletion.  Please note that, while we make reasonable efforts to comply with
        such
        requests, deletion of your personal information does not ensure complete and comprehensive removal of that data
        from
        all
        systems.
    </p>
    <hr>
    <h3>
        Retention Period
    </h3>
    <p>
        We will store your personal data until it is no longer needed to fulfill the purpose(s) for which it was
        collected
        or as
        otherwise required or permitted by applicable law.
    </p>
    <p>
        To determine the appropriate retention period for personal data, we consider the amount, nature and sensitivity
        of
        the
        personal data, the potential risk of harm from unauthorized use or disclosure of your personal data, the
        purposes
        for
        which we process your personal data and whether we can achieve those purposes through other means, and the
        applicable
        legal, regulatory, tax, accounting or other requirements.
    </p>
    <hr>
    <h3>
        Individuals in the US and California
    </h3>
    <h4>
        California Users – Shine the Light Disclosure
    </h4>
    <p>
        California residents who provide personal information in obtaining products or services for personal, family, or
        household use are entitled to request and obtain from us once a calendar year information about the customer
        information
        we shared with third parties for their own direct marketing purposes, including the categories of information
        and
        the
        names and addresses of those businesses with which we have shared such information.  As discussed elsewhere in
        this
        Privacy Policy, we do not currently share the personal information of California residents with third parties
        for
        their
        own direct marketing purposes.  However, if you have further questions about our privacy practices and
        compliance
        with
        California law, please contact us using the contact information in this Policy.
    </p>
    <hr>
    <h3>
        Changes to This Policy
    </h3>
    <p>
        We may update portions of this Policy from time to time and will alert you that changes have been made by
        indicating
        on
        the Policy the date it was last updated. You can find the date of the last update at the top of the Policy. When
        you
        visit this Website, you are accepting the current version of this Policy as posted on the Website at that time.
        We
        recommend that you revisit this Policy on occasion to learn of any changes.
    </p>
</div>
