@{
    ViewData["Title"] = "Translations";
}


<div class="text-center">
    <div class="container">
        <h1>Translations</h1>
        <aside>Full publications expected 2026 &mdash; 2027 </aside>
        <hr class="hr hr-blurry" />
        <div class="row d-flex justify-content-center">
            <div class="col-4">
                <h3>Einmal und Nie Wieder</h3>
                <aside>Autobiography translated by Jefferson Chase</aside>
            </div>
        </div>
        <hr class="hr hr-blurry" />
        <div class="row d-flex justify-content-center">
            <div class="col-4">
                <h3>Theodor Lessing: A Biography</h3>
                <aside>Translated by David Brenner</aside>
            </div>
        </div>
        <hr class="hr hr-blurry" />
        <div class="row d-flex justify-content-center mb-3">
            <div class="col-4">
                <h3>Haarman, Story of a Werewolf </h3>
                <aside>Theodor Lessing, New Translation by George Phocas</aside>
            </div>
        </div>
    </div>
</div>
