@{
    ViewData["Title"] = "Translations";
}


<div class="text-center">
    <div class="container">
        <h1>Translations</h1>
        <aside>Full publications expected 2026 &mdash; 2027 </aside>
        <hr class="hr hr-blurry" />
        <div class="row d-flex justify-content-center">
            <div class="col-4">
                <h3><i>Einmal und Nie Wieder</i></h3>
                <aside>Autobiography translation by Jefferson Chase</aside>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-4">
                <h3><i>Theodor Lessing: A Biography</i></h3>
                <aside>Translation by David Brenner</aside>
            </div>
        </div>
        <div class="row d-flex justify-content-center mb-3">
            <div class="col-4">
                <h3><i>History as Giving Meaning to the Meaningless</i></h3>
                <aside>Translation by Herman Simissen and George Phocas</aside>
            </div>
        </div>
    </div>
</div>
