@model List<Article>
@{
    ViewData["Title"] = "Additional Academic Articles";
}
<div class="container text-center">
    <h1 class="mb-4">Additional Academic Articles</h1>
    <hr class="hr hr-blurry" />
    <div class="pdf-containers">
        @foreach (var article in Model)
        {
            @await Html.PartialAsync("_PartialAdobePDF", article)
        }
    </div>
</div>
<partial name="_AdobePDFScript"></partial>
