@{
    ViewData["Title"] = "Photo Gallery";
}
<h1 class="text-center mb-4">Photo Gallery</h1>
<hr class="hr hr-blurry" />
<!--   col1-->
<div class="col-lg-4 mb-4 mb-lg-0 text-center">
    <figure>
        <img src="/images/primary/Big Thoughts0000.jpg"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail" alt="alt" />
        <figcaption>Big Thoughts</figcaption>
    </figure>
    <hr class="hr hr-blurry" />
    <figure>
        <img src="/images/primary/Ada Lessing_circa_1900_Abbenthern.jpg"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail"
            alt="Ada Lessing circa 1900 Abbenthern" />
        <figcaption>Ada (Abbenthern) Lessing circa 1900</figcaption>
    </figure>
    <hr class="hr hr-blurry" />
    <figure>
        <img src="/images/primary/Lessing with Dog.jpeg"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail" alt="Lessing with Dog" />
        <figcaption>Lessing with Dog</figcaption>
    </figure>
    <hr class="hr hr-blurry" />
    <figure>
        <img src="/images/primary/Signage at Lessing Murder Site.jpeg"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail"
            alt="Signage at Lessing Murder Site" />
        <figcaption>Signage at Lessing Murder Site</figcaption>
    </figure>
    <hr class="hr hr-blurry" />
    <figure>
        <img src="/images/primary/TL Last Photo.jpg"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail" alt="TL Last Photo" />
        <figcaption>TL Last Photo</figcaption>
    </figure>
    <hr class="hr hr-blurry" />
    <figure>
        <img src="/images/primary/Theodor Lessing with Daughters Judith and Miriam.jpeg"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail"
            alt="Theodor Lessing with Daughters Judith and Miriam" />
        <figcaption>Theodor Lessing with Daughters Judith and Miriam</figcaption>
    </figure>
    <hr class="hr hr-blurry" />
    <figure>
        <img src="/images/primary/theodor-lessing.young.jpg"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail" alt="Young TL" />
        <figcaption>Young TL</figcaption>
    </figure>
    <hr class="hr hr-blurry" />
    <figure>
        <img src="/images/primary/Ada Lessing 1930s.jpeg"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail" alt="Ada Lessing 1930s" />
        <figcaption>Ada Lessing 1930s</figcaption>
    </figure>
    <hr class="hr hr-blurry" />

</div>
<!-- col2-->
<div class="col-lg-4 mb-4 mb-lg-0 text-center">
    <figure>
        <img src="/images/primary/Ada Lessing.jpeg"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail" alt="Ada Lessing" />
        <figcaption>Ada Lessing</figcaption>
    </figure>
    <hr class="hr hr-blurry" />
    <figure>
        <img src="/images/primary/Ada Lessing with Grandchildren.Late 1940s.jpeg"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail"
            alt="Ada Lessing with Grandchildren Late 1940s" />
        <figcaption>Ada Lessing with Grandchildren Late 1940s</figcaption>
    </figure>
    <hr class="hr hr-blurry" />
    <figure>
        <img src="/images/primary/Lessing Memorial at Murder Site.jpeg"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail"
            alt="Lessing Memorial Murder at Site" />
        <figcaption>Lessing Memorial Murder at Site</figcaption>
    </figure>
    <hr class="hr hr-blurry" />
    <figure>
        <img src="/images/primary/hein-gorny.jpg"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail"
            alt="Lessing with Ada and Ruth 1932 Photo by Hein Gorny" />
        <figcaption>Lessing with Ada and Ruth 1932 Photo by Hein Gorny</figcaption>
    </figure>
    <hr class="hr hr-blurry" />
    <figure>
        <img src="/images/primary/Theodor Lessing at 20.jpeg"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail" alt="Theodor Lessing at 20" />
        <figcaption>Theodor Lessing at 20</figcaption>
    </figure>
    <hr class="hr hr-blurry" />
    <figure>
        <img src="/images/primary/Theodor Lessing in the Garden.jpeg"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail"
            alt="Theodor Lessing in the Garden" />
        <figcaption>Theodor Lessing in the Garden</figcaption>
    </figure>
    <hr class="hr hr-blurry" />
    <figure>
        <img src="/images/primary/AdaandTheodorLessing.jpeg"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail" alt="Ada and Theodor Lessing" />
        <figcaption>Ada and Theodor Lessing</figcaption>
    </figure>
    <hr class="hr hr-blurry" />
    <figure>
        <img src="/images/primary/Ada Early Portrait.jpg"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail" alt="Ada Early Portrait" />
        <figcaption>Ada Early Portrait</figcaption>
    </figure>
    <hr class="hr hr-blurry" />
</div>
<!-- col 3-->
<div class="col-lg-4 mb-4 mb-lg-0 text-center">
    <figure>
        <img src="/images/primary/lessing-walking-stick.jpeg"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail"
            alt="Lessing with Schopenhaur's Walking Stick" />
        <figcaption>Lessing with Schopenhaur's Walking Stick</figcaption>
    </figure>
    <hr class="hr hr-blurry" />
    <figure>
        <img src="/images/primary/marienbad-cemetary.jpeg"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail"
            alt="Marienbad Jewish Cemetary Sign" />
        <figcaption>Marienbad Jewish Cemetary Sign</figcaption>
    </figure>
    <hr class="hr hr-blurry" />
    <figure>
        <img src="/images/primary/murder-desk.jpg"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail"
            alt="Murder Site Desk with Bullet Holes" />
        <figcaption>Murder Site Desk with Bullet Holes</figcaption>
    </figure>
    <hr class="hr hr-blurry" />
    <figure>
        <img src="/images/primary/T.Lessing at 22.jpeg"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail" alt="T.Lessing at 22" />
        <figcaption>T.Lessing at 22</figcaption>
    </figure>
    <hr class="hr hr-blurry" />
    <figure>
        <img src="/images/primary/Theodor Lessing 1920s.JPG"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail" alt="Theodor Lessing 1920s" />
        <figcaption>Theodor Lessing 1920s</figcaption>
    </figure>
    <hr class="hr hr-blurry" />
    <figure>
        <img src="/images/primary/Theodor Lessing Grave.JPG"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail" alt="Theodor Lessing Grave" />
        <figcaption>Theodor Lessing Grave</figcaption>
    </figure>
    <hr class="hr hr-blurry" />
    <figure>
        <img src="/images/primary/TL-family.jpeg"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail" alt="Theodor, Ada, and Ruth" />
        <figcaption>Theodor, Ada, and Ruth During Hindenberg Scandal</figcaption>
    </figure>
    <hr class="hr hr-blurry" />
    <figure>
        <img src="/images/primary/TL-Zionist Congress0001.jpg"
            class="w-100 shadow-1-strong rounded mb-4 img-responsive img-thumbnail" alt="TL at Zionist Congress" />
        <figcaption>TL at Zionist Congress</figcaption>
    </figure>
    <hr class="hr hr-blurry" />
</div>

<div class="col-lg-4 mb-4 mb-lg-0 text-center">


</div>

<div class="col-lg-4 mb-4 mb-lg-0 text-center">


</div>

<div class="col-lg-4 mb-4 mb-lg-0 text-center">



</div>

<div class="col-lg-4 mb-4 mb-lg-0 text-center">


</div>
<div class="col-lg-4 mb-4 mb-lg-0 text-center">

</div>
<div class="col-lg-4 col-md-12 mb-4 mb-lg-0 text-center">

</div>
<div class="row">
    <div class="col-lg-4 mb-4 mb-lg-0 text-center">

    </div>
</div>
